<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Simple Todo App
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Simple Todo App</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <div *ngIf="this.todos.length == 0" id="container">
      <strong>Hier könnten deine Todos stehen</strong>
    </div>
    
    <ion-item>
      <ion-input type="text" placeholder="Enter Todo ..." [(ngModel)]="text"></ion-input>
      <ion-button (click)="addTodo(this.text)">+</ion-button>
    </ion-item>
    
  </ion-content>
  